


@model SchoolProject3.Models.Teacher

@{
    ViewBag.Title = "Update";
}

<h2>Update a specific Teacher</h2>

<form action="/Teacher/Edit/@Model.teacherId" method="POST">
    

    <div>
        <label>Firstname:</label>
        <input type="text" value="@Model.teacherfname" name="teacherfname" />
    </div>

    <div>
        <label>Lastname:</label>
        <input type="text" value="@Model.teacherlname" name="teacherlname" />
    </div>

    <div>
        <label>employeenumber:</label>
        <input type="text" value="@Model.employeenumber" name="employeenumber" />
    </div>

    <div>
        <label>Salary:</label>
        <input type="text" value="@Model.salary" name="salary" />
    </div>

    <div>
        <input type="submit" value="Update Teacher" />
    </div>
</form>


